#textarea {
    max-width: 800px;
    min-width: 200px;
    min-height: 300px;
    max-height: 500px;

}
@media (max-width: 900px) {
    #textarea {
        max-width: 500px;
    }
}
@media (max-width: 600px) {
    #textarea {
        max-width: 400px;
    }
}
@media (max-width: 500px) {
    #textarea {
        max-width: 350px;
    }
}
@media (max-width: 400px) {
    #textarea {
        max-width: 250px;
    }
}
#note-list {
    max-width: 100%;
    position: relative;
    right: 25px;
    float: right;
}
